/* 

Data Processing
Student: Philine Wairata
Number: 10517863 

scatter.css 

*/


body {
    background-color: white;
  }
  
h1 {
  color: navy;
  margin-left: 20px;
}


.rect {
  fill: transparent;
  shape-rendering: crispEdges;
} 


.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 7px;
}

.h3 {
  margin-top: 15px;
}
.country-name {
  margin: 0 !important;
}

.key-dot {
  display: inline-block;
  height: 10px;
  margin-right: .5em;
  width: 10px;
}

.legend {
  margin-right:20px;
}

.aus { background: #1f77b4;}
.belgium {  background: #2ca02c;}
.newzealand { background: #ff7f0e;}
.colombia { background:  #e377c2;}
.estonia {  background: #7f7f7f;}

